* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

#form {
  display: block;
  width: 70%;
  margin: auto;
  text-align: center;
}

#form select {
  width: 50%;
  height: 100px;
  font-size: 30px;
}

#form button {
  width: 50%;
  height: 100px;
  font-size: 20px;
}

#eating-list {
  display: block;
  width: 30%;
  height: 100vh;
  overflow: scroll;
  float: left;
  font-size: 20px;
  background: #000;
}

#eating-list .title {
  display: block;
  padding: 20px 10px;
  color: #fff;
  cursor: pointer;
}

#eating-list .title:hover {
  background: #d6b161;
}

.restarunt {
  position: relative;
}

.restarunt .info{
  height: 0;
  opacity: 0;
  transition: all .3s linear;
}

.restarunt .info p {
  padding: 0;
  height: 0;
}

.restarunt .info.open {
  height: 200px;
  opacity: 1;
}

.restarunt .info.open p {
  margin: 20px 0;
  height: 30px;
  color: #aaa;
  line-height: 1.2;
}

.wrap {
  width: 70%;
  float: right;
}

#story {
  background: #ccc;
  color: #fff;
  text-align: center;
  font-size: 20px;
  height: 50vh;
  overflow: scroll;
}

#story h1 {
  padding: 30px 0;
  font-size: 30px;
}

#story p {
  padding: 0 20px;
  line-height: 1.5;
}